as.rules.Rd
datacheck-package.Rd
datadict.profile.Rd
has.punct.Rd
has.ruleErrors.Rd
heatmap.quality.Rd
is.datadict.profile.Rd
is.oneOf.Rd
is.onlyLowers.Rd
is.properName.Rd
is.withinRange.Rd
pkg.version.Rd
prep4rep.Rd
read.rules.Rd
ruleCoverage.Rd
runDatacheck.Rd
scoreSum.Rd
shortSummary.Rd
